name: fullmulti
channels:
  - conda-forge
dependencies:
  - python=3.10.0
  - pandas
  - numpy
  - matplotlib
  - scipy
  - watermark
  - seaborn
  - ipywidgets
  - ipykernel
  - voila
  - jupyter_server
  - tqdm
  - pip
  - pip:
    - celluloid
    - cycler
